*{
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    align-items: center;
    text-align: center;

}
.logo {
    align-items: center;
}

h1 {
    display: flex;
    text-align: center;
    font-size: 50px;
    justify-content: center;
}
.faqs  {
background-color: rgb(249, 252, 251);
height: 70%;
padding: 40px 0px 70px 0px;
}
h3 {
    font-size: 25px;
    }
    


.box-1 {
   width: 50%;
   height: 70px;
   overflow: auto;
   margin-top: 20px;
   margin-left: 50px;
   margin-right: 100px;
   background-color: aqua;
}
.box-2 {
    width: 50%;
    height: 70px;
    overflow: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 100px;
}
.box-3 {
    width: 50%;
    height: 70px;
    overflow: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 100px;
    background-color: turquoise;
}
   

.box-4 {
    width: 50%;
    height: 70px;
    overflow: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 100px;
}



 
 body {
    background-color: rgb(43, 205, 226);

}


.form {
margin-left: 50px;
margin-bottom: 30px;
width: 80%;
height: 50%;

}
.nombre .apellido  {
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    text-align: justify;
    
}

   

.numero_de_socio {
    display:flex;
    flex-direction: column;
  
   
}
.Email {
    display:flex;
    flex-direction: column;
    align-items: start;
    
}
.consulta {
    display:flex;
    margin-left: 0px;
    margin-top: 10px;
    
  
}
.institucional {
    display: flex;
    float: right;
    margin-right: 100px;
 align-items: center;
 margin-top: 0px;
   
}

